<div class="d-flex justify-content-end p-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Inicio matriz</a></li>
            <li class="breadcrumb-item"><a href="/tables/usuarios">Tabla usuarios</a></li>
            <li class="breadcrumb-item">Editar usuario {{usuariosEdit.nombre_usuario}}</li>
        </ol>
    </nav>
</div>

{{!-- FORM EDITAR USUARIO --}}
<br>
<h3 class="modal-title col-md-6 mx-auto text-center bg-dark text-light" id="exampleModalLabel">Editar usuario</h3>
<div class="card col-md-6 mx-auto">
    <div class="card-body rounded-0">
        <form action="/tables/usuarios/edit/{{usuariosEdit.id_usuario}}" method="POST" name="form_usuario">
            <div class="input-group">
                <input type="hidden" class="form-control" name="id_usuario" id="id_usuario"
                    value="{{usuariosEdit.id_usuario}}" readonly="readonly">
            </div>
            <label for="nombre_persona">Nombre completo</label>
            <div class="input-group">
                <span class="input-group-text bg-transparent borderless_hallazgos">
                    <i class="fas fa-signature"></i>
                </span>
                <input type="text" class="form-control" name="nombre_persona" id="nombre_persona"
                    value="{{usuariosEdit.nombre_persona}}" autofocus>
            </div>
            <label for="nombre_usuario">Nombre de usuario</label>
            <div class="input-group">
                <span class="input-group-text bg-dark-50 borderless_hallazgos">
                    <i class="fas fa-user"></i>
                </span>
                <input type="text" class="form-control" name="nombre_usuario" id="nombre_usuario"
                    value="{{usuariosEdit.nombre_usuario}}" readonly>
            </div>

            <label for="Rol">Rol</label>
            <div class="input-group">
                <span class="input-group-text bg-transparent borderless_hallazgos">
                    <i class="fas fa-chalkboard-teacher"></i>
                </span>
                <select class="custom-select" name="rol" id="rol">
                    <option selected value="{{usuariosEdit.rol}}">{{usuariosEdit.rol}}</option>
                    <option value="Estándar">Estándar</option>
                    <option value="Administrador">Administrador</option>
                </select>
            </div>

            <label for="Contrasena">Contraseña</label>
            <div class="input-group">
                <span class="input-group-text bg-transparent borderless_hallazgos">
                    <i class="fas fa-key"></i>
                </span>
                <input type="password" class="form-control" name="password" id="password">
            </div>


            <label for="Contrasena">Confirmar contraseña</label>
            <div class="input-group">
                <span class="input-group-text bg-transparent borderless_hallazgos">

                    <i class="fas fa-spell-check"></i>

                </span>
                <input type="password" class="form-control" name="confirm_pwd" id="confirm_pwd">
            </div>

            <br>
            <div id="message"></div>


            <div class="d-flex justify-content-center">
                <div class="custom-control custom-switch">
                    <input class="custom-control-input" type="checkbox" id="toggle" onchange="togglePassword(this);">
                    <label class="custom-control-label" for="toggle" id="toggleText">Mostrar contraseñas</label>
                </div>
            </div>
            <br>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-outline-success rounded-0" data-toggle="modal"
                    data-target="#ModalEditarUsuario{{@index}}">Editar</button>
                {{!-- MODAL EDITAR USUARIO --}}
                <div class="modal fade" id="ModalEditarUsuario{{@index}}" tabindex="-1"
                    aria-labelledby="EliminarUsuarioLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-md">
                        <div class="modal-content rounded-0">
                            <div class="modal-body rounded-0">
                                <span class="text-primary d-flex justify-content-center">
                                    <i class="fas fa-info-circle fa-3x"></i>
                                </span>
                                <br>
                                <h5 class="text-center">¿Desea editar al usuario<br>
                                    '{{usuariosEdit.nombre_usuario}}'?</h5>
                                <br>
                                <div class="modal-footer d-flex justify-content-center">
                                    <button type="submit" class="btn btn-outline-success rounded-0">Sí
                                        (editar)</button>
                                    <button type="button" class="btn btn-outline-danger rounded-0"
                                        data-dismiss="modal">No (cerrar ventana)</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- FIN MODAL EDITAR USUARIO --}}
                <a type="button" class="btn btn-outline-danger rounded-0" href="/table_usuarios">Cancelar</a>
            </div>
        </form>
    </div>
</div>
<br>