<div class="d-flex justify-content-end p-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Inicio matriz</a></li>
            <li class="breadcrumb-item"><a href="/table_fuentes">Tabla fuentes</a></li>
            <li class="breadcrumb-item">Editar fuente {{FuentesEdit.nombre_fuente}}</li>
        </ol>
    </nav>
</div>
<br>
<h3 class="modal-title col-md-6 mx-auto text-center bg-dark text-light" id="exampleModalLabel">Editar fuente</h3>
<div class="card col-md-6 mx-auto">
    <div class="card-body rounded-0">
        <form action="/edit_fuente/{{FuentesEdit.id_fuente}}" method="POST" name="form_fuente">
            <div class="input-group">
                <input type="hidden" class="form-control" name="id_fuente" id="id_fuente"
                    value="{{FuentesEdit.id_fuente}}" readonly="readonly">
            </div>
            <label for="nombre_persona">Nombre de la fuente</label>
            <div class="input-group">
                <span class="input-group-text bg-transparent borderless_hallazgos">
                    <i class="fas fa-briefcase"></i>
                </span>
                <input type="text" class="form-control" name="nombre_fuente" id="nombre_fuente"
                    value="{{FuentesEdit.nombre_fuente}}" autofocus>
            </div>
            <br>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-outline-success rounded-0" data-toggle="modal" data-target="#ModalEditarFuente{{@index}}">Editar</button>
                {{!-- MODAL EDITAR FUENTE --}}
                <div class="modal fade" id="ModalEditarFuente{{@index}}" tabindex="-1"
                    aria-labelledby="EliminarUsuarioLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-md">
                        <div class="modal-content rounded-0">
                            <div class="modal-body rounded-0">
                                <span class="text-primary d-flex justify-content-center">
                                    <i class="fas fa-info-circle fa-3x"></i>
                                </span>
                                <br>
                                <h5 class="text-center">¿Desea editar la fuente<br>
                                    '{{FuentesEdit.nombre_fuente}}'?</h5>
                                <br>
                                <div class="modal-footer d-flex justify-content-center">
                                    <button type="submit" class="btn btn-outline-success rounded-0">Sí
                                        (editar)</button>
                                    <button type="button" class="btn btn-outline-danger rounded-0"
                                        data-dismiss="modal">No (cerrar ventana)</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- FIN MODAL EDITAR FUENTE --}}
                <a type="button" class="btn btn-outline-danger rounded-0" href="/table_fuentes">Cancelar</a>
            </div>
        </form>
    </div>
</div>