{{#if (isAdministrator user.rol "Administrador")}}

<body>

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark navbar_matriz">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> <span class="menu_open" style="font-size:20px;cursor:pointer"
          onclick="openNav()">&#9776; Menú</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="fas fa-plus"></i></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <span class="mx-auto text-light"><b>MATRIZ DE MEJORA</b></span></span>
        <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle rounded-0" type="button" id="dropdownMenuButton1"
            data-toggle="dropdown" aria-expanded="false">
            <span class="text-light">
              <i class="fas fa-user-circle"></i>
              {{user.nombre_usuario}}
            </span>
          </button>
          <ul class="dropdown-menu rounded-0 text-center" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/logout">Cerrar sesión<i class="fas fa-sign-out-alt fa-fw"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <br>
    <h4 class="text-center text-light h4_title">TABLAS</h4>
    <a href="/tables/usuarios" class="{{#if (CurrentPage 'Usuarios')}}active{{/if}} usuarios">
      <i class="fas fa-user fa-fw"></i>
      Usuarios</a>
    <a href="/tables/hallazgos">
      <i class="fas fa-search"></i>
      Hallazgos</a>
    <a href="/tables/responsables">
      <i class="fas fa-users"></i>
      Responsables</a>
    <a href="/tables/sedes">
      <i class="fas fa-building"></i>
      Sedes</a>
    <a href="/tables/tipos_hallazgo">
      <i class="fas fa-folder"></i>
      Tipos de hallazgo</a>
    <a href="/tables/fuentes">
      <i class="fas fa-briefcase"></i>
      Fuentes</a>
    <a href="/tables/factores">
      <i class="fas fa-exclamation-triangle"></i>
      Factores de riesgo</a>
    <a href="/tables/prioridades">
      <i class="fas fa-star"></i>
      Prioridades</a>
    <a href="/tables/estados">
      <i class="fas fa-signal"></i>
      Estados</a>
    <a href="/tables/cambio_estado">
      <i class="fas fa-history"></i>
      Historial de cambios de estado
    </a>
    <hr>
    <br>
    <h4 class="text-center text-light h4_title">GRÁFICAS</h4>
    <a href="/dashboard">
      <i class="fas fa-columns"></i>
      Dashboard</a>
  </div>

  </div>

  {{> JS_app}}

  {{/if}}

  {{#if (isBasicUser user.rol "Estándar")}}

  <body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark navbar_matriz">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"> <span class="menu_open" style="font-size:20px;cursor:pointer"
            onclick="openNav()">&#9776; Menú</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span><i class="fas fa-plus"></i></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <span class="mx-auto text-light"><b>MATRIZ DE MEJORA</b></span></span>
          <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle rounded-0" type="button" id="dropdownMenuButton1"
              data-toggle="dropdown" aria-expanded="false">
              <span class="text-light">
                <i class="fas fa-user-circle"></i>
                {{user.nombre_usuario}}
              </span>
            </button>
            <ul class="dropdown-menu rounded-0" aria-labelledby="dropdownMenuButton1">
              <div class="dropdown-header">Opciones</div>
              <li><a class="dropdown-item" href="/logout">Cerrar sesión<i class="fas fa-sign-out-alt fa-fw"></i></a>
              </li>
              <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#ModalCambiarContraseña">Cambiar
                  contraseña<i class="fas fa-unlock fa-fw"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="modal fade" id="ModalCambiarContraseña" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-0">
          <div class="modal-header bg-dark rounded-0">
            <h4 class="text-light">Cambio de contraseña</h4>
            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/tables/usuarios/CambiarPwd/{{user.id_usuario}}" method="POST" name="FormCambiarPwd">
              <label for="CambioContraseña">Nueva contraseña</label>
              <div class="input-group">
                <span class="input-group-text bg-transparent borderless_hallazgos">
                  <i class="fas fa-key fa-fw"></i>
                </span>
                <input type="password" class="form-control" name="password" id="password">
              </div>
              <label for="ConfirmCambioContraseña">Confirmar nueva contraseña</label>
              <div class="input-group">
                <span class="input-group-text bg-transparent borderless_hallazgos">
                  <i class="fas fa-spell-check fa-fw"></i>
                </span>
                <input type="password" class="form-control" name="confirm_pwd" id="confirm_pwd">
              </div>
              <div class="d-flex justify-content-center">
                <div class="custom-control custom-switch">
                  <input class="custom-control-input" type="checkbox" id="toggle" onchange="togglePassword(this);">
                  <label class="custom-control-label" for="toggle" id="toggleText">Mostrar contraseñas</label>
                </div>
              </div>
              <br>
              <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-success rounded-0">Cambiar</button>
                <button class="btn btn-outline-danger rounded-0" data-dismiss="modal">Cancelar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <br>
      <h4 class="text-center text-light h4_title">TABLAS</h4>
      <a href="/tables/hallazgos/{{user.id_usuario}}">
        <i class="fas fa-search"></i>
        Mis hallazgos
      </a>
      <a href="/tables/hallazgos">
        <i class="fas fa-globe-americas"></i>
        Todos los hallazgos
      </a>
      <a href="/tables/cambio_estado/{{user.id_usuario}}">
        <i class="fas fa-history"></i>
        Historial de cambios de estado
      </a>
      <hr>
      <br>
      <h4 class="text-center text-light h4_title">GRÁFICAS</h4>
      <a href="/dashboard">
        <i class="fas fa-columns"></i>
        Dashboard</a>
    </div>

    </div>
    {{/if}}